<%= form_for (beer) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: 'required' %>
  </div>

  <div>
    <%= f.label :type_of_beer %>
    <%= f.text_field :type_of_beer, required: 'required' %>
  </div>

  <div>
    <%= f.label :alchohol_content %>
    <%= f.number_field :alchohol_content, :step => '0.01', required: 'required' %>
  </div>
<% end %>
