<h1><%= beer.name %></h1>
<p>Type: <%= beer.type_of_beer %></p>
<p>Alchohol Cotent: <%= beer.alchohol_content %></p>

<%= link_to 'Beer List', beers_path %>
<%= link_to 'Remove Beer', @beer, method: :delete %>
<%= link_to 'Edit Beer', edit_beer_path %>
<%= link_to 'Review this Beer', new_beer_review_path(@beer) %>
